<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="\static\css\style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>About the Coders</title>
</head>

<body>
    <div class="wrapper">
        <img src="./data/headshots/Aya.jpg" alt="Profile Picture of Aya">
        <h1>Aya Heshmat</h1>
        <h2>Health IT Program Specialist</h2>
        <p>Aya Heshmat currently serves as health IT program specialist for America's premier society for obstetricians and gynecologists (ACOG) where she oversees the college's electronic health record overlay, ACOG's Prenatal Record (APR), that aims to improve the standard of care for women's health. In the build of the APR, Aya demonstrates requirements with stakeholders including the clinical module development process while managing the guideline database. Prior to joining ACOG, she gained hands-on experience with multiple EHR legacy systems and understanding of practice management workflows for healthcare organizations. With a new set of analytic skills, Aya is looking forward to working with real-world data aggregated from the college's health IT projects including the APR.
        </p>
    </div>
</body>

</html>