<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="\static\css\style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>About the Coders</title>
</head>

<body style="background-color:lightsteelblue;">
    <div class="wrapper">
    <!-- START NAVBAR -->
    <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('machine_learning') }}">Machine Learning</a>
            <a class="nav-item nav-link" href="{{ url_for('whyCode') }}">The Why</a>
            <a class="nav-item nav-link" href="{{ url_for('aboutUs') }}">About Us</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </nav>
        <div class="dropdown">
            <img class="nav-dis" src="../static/images/cosmetics-background.jpg">
            <div id="myDropdown" class="dropdown-content">
        </div>
    </div>
    <!-- END NAVBAR -->
       
        <!-- Start of the Bios -->
        <!-- Aya's Bio -->
        <main class="container">
            <h1 align="center" style="font-family:snell roundhand,cursive" style=background-color:seashell>About the Coders</h1>
            <section id="main-bio">
                <section id="figure">
                    <h3 id="bio-name">Aya Heshmat</h3>
                    <h5>Health IT Program Specialist, ACOG</h5>
                    <img id="bio-image" src="../static/images/headshots/Aya.jpg" alt="Profile Picture of Aya">
                </section>
                <p>Aya Heshmat currently serves as health IT program specialist for America's premier society for obstetricians and gynecologists (ACOG) where she oversees the college's electronic health record overlay, ACOG's Prenatal Record (APR), that aims to improve the standard of care for women's health. In the build of the APR, Aya demonstrates requirements with stakeholders including the clinical module development process while managing the guideline database. Prior to joining ACOG, she gained hands-on experience with multiple EHR legacy systems and understanding of practice management workflows for healthcare organizations. With a new set of analytic skills, Aya is looking forward to working with real-world data aggregated from the college's health IT projects including the APR.
                    </p>
            </section>

            <aside id="contact-info">
                <h5>Contact Info</h5>
                <ul>
                    <li><strong>Email: </strong> <a href="#">aya_heshmat@gmail.com</a></li>
                    <li><strong>Github: </strong> <a href="#">https://github.com/aheshmat</a></li>  
                </ul>
            </aside>
        </main>
         <!-- END Aya's Bio -->    
        <br>
        <!-- Sarah's Bio -->
        <main class="container">
            <section id="main-bio">
                <section id="figure">
                    <h3 id="bio-name">Sarah Osorio</h3>
                    <h5>Data Integration Specialist, Campus Management Corp.</h5>
                    <img id="bio-image" src="../static/images/headshots/Sarah.jpeg" alt="Profile Picture of Sarah">
                </section>
                <p>Sarah's Bio Here</p>
            </section>

            <aside id="contact-info">
                <h5>Contact Info</h5>
                <ul>
                    <li><strong>Email: </strong> <a href="#">sarah_O@gmail.com</a></li>
                    <li><strong>Github: </strong> <a href="#">https://github.com/sno90</a></li>  
                </ul>
            </aside>
        </main>
         <!-- END Sarah's Bio -->  
        <br>
         <!-- Linxi's Bio -->
        <main class="container">
                <section id="main-bio">
                    <section id="figure">
                        <h3 id="bio-name">Linxi Zhao</h3>
                        <h5>Graduate Student Researcher, The George Washington University</h5>
                        <img id="bio-image" src="../static/images/headshots/Linxi.jpg" alt="Profile Picture of Linxi">
                    </section>
                    <p>Linxi's Bio Here</p>
                </section>
    
                <aside id="contact-info">
                    <h5>Contact Info</h5>
                    <ul>
                        <li><strong>Email: </strong> <a href="#">lzhao@gwu.edu</a></li>
                        <li><strong>Github: </strong> <a href="#">https://github.com/linxi000057</a></li>  
                    </ul>
                </aside>
            </main>
             <!-- END Linxi's Bio -->    
        <br>    
    </div>
    
</body>

</html>