<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href=".\static\css\style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Final Project</title>
</head>

<body>
    <div class="wrapper">
        <!-- START NAVBAR -->
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="#">Visualizations</a>
            <a class="nav-item nav-link" href="{{ url_for('machine_learning') }}">Machine Learning</a>
        </nav>
        <!-- END NAVBAR -->


        <!-- START CARD FOR CHEMICALS -->
        <div class="row" id="chemical-list">
            {% for chemical in chemicals %}
            <div class="col-sm-6 col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ ChemicalName }}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">
                            {{ Chemical_Description }}
                        </p>
                        <a href="{{ Web_Link }}" class="card-link">Learn more</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- START CARD FOR CHEMICALS -->


    </div>
</body>

</html>